*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vH;
    background-color: #000000;
    .container{
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        .bubbles{
            position: relative;
            display: flex;
            span{
                position: relative;
                min-width: 30px;
                height: 30px;
                background: #fff;
                box-shadow: 0 0 0 5px #4fc3dc44, 0 0 50px #eeedf7, 0 0 100px #4fc3dc;
                margin: 0 30px;
                border-radius: 50%;
                animation: animate 15s linear infinite;
                animation-duration: calc(75s/var(--i));
                &:nth-child(even){
                 background: #1CF259;
                 box-shadow: 0 0 0 10px #1CF259, 0 0 50px #fafafa, 0 0 100px #f23b00;

                }
               
                }       

            }
        }
    }
@keyframes animate{
    0%{
        transform: translateY(100vh) scale(-1);
    }
    100%{
        transform: translateY(-10vh) scale(1.5);
    }
}